:root {
  --color-text: darkred;
  --color-title: chocolate;
  --color-link: mediumblue;
  --color-link-highlighted: #E3000F;
}

@font-face {
  font-family: 'FundamentalBrigade';
  font-display: swap;
  src: url('../assets/fonts/Fundamental_Brigade_Schlank.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  overflow: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

body {
  background-image: url(../assets/background.webp);
  color: var(--color-text);
  font-size: #{'clamp(1em, 1em + 2vw, 3em)'};
  font-family: FundamentalBrigade, arial, sans-serif;
  font-weight: normal;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
}